{% extends 'aplicacion/index.html' %}

{% block header %}
<header class="bg-dark py-5">
    <div class="container px-3 px-lg-4 my-4">
        <div class="text-center text-white">
            <h2 class="display-7 fw-bolder">"{{ alojamiento.titulo }}"</h2>
        </div>
    </div>
</header>
{% endblock header %}

{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><strong>Características:</strong> {{ alojamiento.descripcion }}</p>
    <p><strong>Ciudad:</strong> {{ alojamiento.ciudad }}</p>
    <p><strong>Dirección:</strong>{{ alojamiento.direccion }}</p>
    <p><strong>Precio:</strong> USD {{ alojamiento.precio }}</p>

    <!--Botón que te redirecciona al mail del propietario para contactarlo-->
    {% if alojamiento.email %}
    <a href="mailto:{{ alojamiento.email }}" class="btn btn-primary">Contactar al propietario</a>
    {% else %}
    <p>El propietario de este alojamiento no ha proporcionado un correo electrónico.</p>
    {% endif %}

    <!--Aquí van las reseñas-->
    <h2>Reseñas de este alojamiento</h2>
    {% if alojamiento.review_set.all %}
    <ul>
        {% for r in alojamiento.review_set.all %}
        <li> <strong>{{ r.usuario.nombre }}</strong>: "{{ r.texto }}"</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Aún no hay reseñas para este alojamiento.</p>
    {% endif %}
    <a href="{% url 'nuevo_review'%}" class="btn btn-primary">Añadir mi reseña</a>

</body>
</html>
{% endblock contenido %}