{% extends 'aplicacion/index.html' %}


{% block header %}
<header class="bg-dark py-5">
    <div class="container px-3 px-lg-4 my-4">
        <div class="text-center text-white">
            <h2 class="display-7 fw-bolder">Todos los alojamientos</h2>
        </div>
    </div>
</header>
{% endblock header %}

{% block contenido %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
    {% for a in alojamiento  %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.titulo }}</td>
            <td>{{ a.descripcion }}</td>
            <td>{{ a.precio }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}